# created by virtualenv automatically
*
# Python cache
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment variables
.env