.Intro{
    text-align: center;
    padding-bottom: 20px;
}
.P_Search{
    padding-bottom: 10px;
}
.output{
    text-align: center;
}
.sub{
    padding-top: 0px;
}
.basic_n{
    text-align: center;
    padding-top: 8px;
}