<!doctype html> 
<html lang="en"> <head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>Password Strength Checker</title> 
  <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}"> 
</head>
<body>
    <nav class="navbar">
        <h2>🛡 Password Strength Analyzer</h2>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">About</a>
        </div>
    </nav>

    <header class="intro">
        <h1>Stay Secure</h1>
        <p>Analyze your password strength instantly</p>
    </header>

    <div class="container">
        <div class="card">
            <h2>Check Password</h2>

            <form method="POST">
                <label>Username</label>
                <input type="text" name="username" placeholder="Enter username">

                <label>Password</label>
                <input type="password" name="password" placeholder="Enter password">

                <label>Generate Random Password?</label>

                <div class="radio-group">
                    <label>
                        <input type="radio" name="generate_password" value="yes">
                        Yes
                    </label>

                    <label>
                        <input type="radio" name="generate_password" value="no">
                        No
                    </label>
                </div>

                <button type="submit">
                    Analyze Password</button>
            </form>
        </div>

        <div class="card">

            <h2>Your Analysis</h2>
            <h3>Basic Checks</h3>
            
            <p>Uppercase :
                {{ "✅ Present" if result.contains_upper else "❌ Missing" }}
            </p>

            <p>Lowercase :
                {{ "✅ Present" if result.contains_lower else "❌ Missing" }}
            </p>

            <p>Digit :
                {{ "✅ Present" if result.contains_digit else "❌ Missing" }}
            </p>

            <p>Special Character :
                {{ "✅ Present" if result.contains_special else "❌ Missing" }}
            </p>

            <hr>

            <p><strong>Length:</strong> {{ result.length }}</p>

            <p><strong>Entropy:</strong> {{ result.entropy }}</p>

            <p><strong>Score:</strong> {{ result.score }}</p>

            <p>{{ result.Passwordscore_suggestion }}</p>

            <hr>

            <h3>Suggestions</h3>

            <p>{{ result.suggestion }}</p>

            <hr>

            <h3>Security Checks</h3>

            <p>
                {{ "❌ Username Found" if result.username_found else "✅ Username Not Found" }}
            </p>

            <p>
                {{ "❌ Repetition Found" if result.repeated else "✅ No Repetition" }}
            </p>

        </div>

    </div>

    <div class="generator">

        <h2>🎲 Random Password</h2>

        <p>{{ result.generated_password }}</p>

    </div>

</body>
</html>
